.section-about__content {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.section-about__empty {
  height: 400px;
}

@media only screen and (min-width: 320px) and (max-width: 992px) {
  .section-about__content {
    font-size: 0.7em;
    padding: 10px;
  }

  .section-about__empty {
    height: 300px;
  }
}