.disclaim-title {
  font-size: 1.5em;
}

.disclaim-content {
  font-size: 1.5em;
  line-height: 1.2em;
  //background: #ffffff6e;
  padding: 3%;
  max-width: 1200px;
  margin-top: 30px;
}
.disclaim-content p {
  margin-bottom: 25px;
}
.discHolders {
  background: #c89656;
  padding: 10px 30px;
  font-size: 2em;
}