.button {
  cursor: pointer;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  outline: inherit;

  padding: 18px;
  text-transform: uppercase;

  font-family: 'Nunito', sans-serif;
  font-weight: 300;

  &:not(.button_static):hover {
    color: #000;
    background: #fff;
  }
}

.button_default {
  background: #242424;
}

.button_primary {
  background: #EA210F;
}

.button_static {}

.buttons > .button {
  margin-right: 15px;
}

.button:disabled {
  cursor: not-allowed;
}