@media only screen and (min-width: 1370px) {
  .burger-container {
    display: none;
  }
}

@media only screen and (max-width: 1370px) {
  .hide-navigation {
    display: none;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1370px) {
  .header-main-btn-container {
    position: fixed;
    top: -110px;
  }
  .menu {
    justify-content: right !important;
    padding-right: 100px;
  }
}

.mobile-logo-img {
  width: 100%;
  box-sizing: border-box;
  padding: 0.8em;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
  float: right;
}

.burger-logo {
  width: 70%;
  height: auto;
  position: absolute;
  padding-left: 24px;
  padding-top: 18px;
  max-width: 500px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ea210f;
  height: 8% !important;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  //background: #373a47;
  background-color: rgb(36, 36, 36);
  //padding: 2.5em 1.5em 0;
  padding: 0;
  font-size: 1.15em;
  overflow: hidden !important;
}

.bm-menu a {
  padding: 0.8em;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
  transition: background 0.3s, box-shadow 0.3s;
  text-decoration: none;
}

.bm-menu a:hover {
  background: #EA210F;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
  color: #b8b7ad;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  //padding: 0.8em;
  padding: 0;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  width: 100vw !important;
}


