.page-header {
  background: linear-gradient(
                  rgba(0, 0, 0, 0.35),
                  rgba(0, 0, 0, 0.35)
  ), url("../../assets/images/bg.jpg") no-repeat;
  background-size: cover;
  padding: 150px 90px 100px 90px;
}

.page-header__inner {
  max-width: 1150px;
  margin: 0 auto;
}

.page-header__title {
  font-size: 3.5em;
}

.page-header__slogan {
  font-size: 1.3em;
  margin-bottom: 10px;
}

.header-main-btn-container {
  position: absolute;
  width: 100%;
  text-align: center;
  padding-top: 130px;
  display: none;
}

.header-main-btn-container a {
  text-decoration: none;
  padding-left: 25px;
  padding-right: 25px;
}

@media only screen and (max-width: 319px) {
  .page-header {
    text-align: center;
    padding: 170px 30px 50px 30px;
  }

  .page-header h1 {
    font-size: 1.2em;
  }

  .header-main-btn-container {
    display: inline;
  }
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
  .page-header h1 {
    font-size: 1.2em;
  }

  .header-main-btn-container {
    display: inline;
  }
}

@media only screen and (min-width: 576px) and (max-width: 992px) {
  .page-header h1 {
    font-size: 2em;
  }

  .header-main-btn-container {
    display: inline;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1370px) {
  .header-main-btn-container {
    display: inline;
  }
}

@media only screen and (min-width: 320px) and (max-width: 992px) {
  .page-header {
    padding: 200px 10px 10px;
    text-align: center;
  }
}
